{{#each this}}

<div class="color_list_box">
  <p>{{id}} - {{favorite}}</p>
  <button class="delete_color" formtarget=""name="subject" type="submit" value="HTML" data-id="{{id}}">DELETE</button>
</div>

{{/each}}
