.title {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px;
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
  /* For Opera 11.1 to 12.0 */
 background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
 /* For Fx 3.6 to 15 */
 background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
 /* Standard syntax */
 background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 720px;
}

.emoji {
  height: 50px;
  width: 50px;
  background-size: cover;
}

.form_title {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 18px;
}

.auth_box {
  width: 60%;
  margin: 0 auto;
  clear: both;
}

input {
  display: block;
}

.crud_box {
  width: 60%;
  height: 140px;
  margin: 0 auto;
  background-color: yellow;
  border: 2px solid green;
  clear: both;
}

.crud_form {
  float: left;
  margin-right: 7%;
  width: 150px;
}

.color_list {
  position: relative;
}

.color_list_box {
  float: left;
}
